html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  color: #333;
  font-weight: 400;
  line-height: 1.7;
  font-family: heisei-maru-gothic-std, sans-serif;
  font-style: normal;
}
body.is-fixed {
  overflow: hidden;
}
body.is-fixed2 {
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.inner {
  max-width: 700px;
  margin: 0 auto;
}

.main {
  padding-bottom: 120px;
}

.sec {
  margin-top: 100px;
}

.header {
  position: relative;
  z-index: 30;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  width: 120px;
}
.header__ham {
  position: relative;
  top: 10px;
  width: 35px;
  height: 20px;
}
.header__ham.header__ham--active .header__ham-line {
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
}
.header__ham.header__ham--active .header__ham-line:first-child, .header__ham.header__ham--active .header__ham-line:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__ham.header__ham--active .header__ham-line:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header__ham-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #333;
  border-radius: 6px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.header__ham-line:first-child {
  top: 0;
}
.header__ham-line:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}
.header__ham-line:last-child {
  bottom: 0;
}
.header__nav {
  display: none;
  margin-top: 25px;
}
.header__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header__item {
  font-size: 1.5rem;
}
.header__item:nth-child(n+2) {
  margin-left: 45px;
}
.header__link {
  position: relative;
  display: block;
  padding-bottom: 5px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.header__link:hover {
  color: #ffbf1f;
}
.header__link:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ffbf1f;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: #ffbf1f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.drawer.drawer--open {
  opacity: 1;
  visibility: visible;
}
.drawer__list {
  width: 100%;
}
.drawer__item {
  border-bottom: 1px dotted #fff;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
}
.drawer__item:first-child {
  border-top: 1px dotted #fff;
}
.drawer__link {
  display: block;
  padding: 20px 0;
}

.media.media--top {
  margin-top: 10px;
}
.media.media--search .media__cont::after {
  background-image: url(../img/search-bg.png);
}
.media.media--service .media__cont::after {
  background-image: url(../img/service-bg.jpg);
}
.media.media--contact .media__cont::after {
  background-image: url(../img/contact-bg.jpg);
}
.media__cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.media__cont::after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 330px;
}
.media__body {
  padding: 30px 20px 0;
}
.media__ttl {
  margin-top: 25px;
  font-size: 2rem;
}
.media__txt {
  margin-top: 15px;
}
.media__link {
  display: inline-block;
  margin-top: 35px;
  padding: 13px 40px;
  border-radius: 30px;
  background-color: #339900;
  border: 1px solid #339900;
  color: #fff;
  line-height: 1;
  text-align: center;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.media__link::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f1b0";
  display: inline-block;
  margin-right: 8px;
}
.media__btn {
  margin: 35px auto 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #339900;
  font-size: 2.2rem;
  color: #fff;
}

.cmn-ttl {
  position: relative;
  padding-bottom: 8px;
  font-size: 3rem;
}
.cmn-ttl::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 65px;
  height: 5px;
  border-radius: 10px;
  background-color: #ffbf1f;
}

.lower-ttl {
  font-size: 2.6rem;
  text-align: center;
}

.footer {
  padding-top: 45px;
  padding-bottom: 20px;
  background-color: #ffbf1f;
  color: #fff;
}
.footer__logo {
  width: 135px;
  margin: 0 auto;
}
.footer__contact {
  margin-top: 15px;
  text-align: center;
}
.footer__tel {
  font-size: 1.6rem;
}
.footer__contact-link {
  display: inline-block;
  margin-top: 5px;
  padding: 10px 25px;
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #fff;
  color: #ffbf1f;
  line-height: 1;
}
.footer__contact-link::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f1b0";
  display: inline-block;
  margin-right: 8px;
}
.footer__nav {
  margin-top: 35px;
}
.footer__item {
  padding: 15px 0;
  border-bottom: 1px dotted #fff;
  font-size: 1.6rem;
}
.footer__item:first-child {
  border-top: 1px dotted #fff;
}
.footer__sublist {
  margin-top: 5px;
  padding-left: 10px;
}
.footer__subitem {
  font-size: 1.3rem;
}
.footer__subitem:nth-child(n+2) {
  margin-top: 5px;
}
.footer__sublink::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0da";
  display: inline-block;
  margin-right: 8px;
}
.footer__sns {
  margin-top: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__sns-item {
  font-size: 2.4rem;
}
.footer__sns-item:nth-child(n+2) {
  margin-left: 30px;
}
.footer__copyright {
  margin-top: 27px;
  font-size: 1.2rem;
  text-align: center;
}

.totop {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 10;
  width: 50px;
  height: 50px;
  background-color: #339900;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.4rem;
  color: #fff;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.totop.totop--up {
  -webkit-animation: UpAnime 0.5s forwards;
          animation: UpAnime 0.5s forwards;
}
.totop.totop--down {
  -webkit-animation: DownAnime 0.5s forwards;
          animation: DownAnime 0.5s forwards;
}

@-webkit-keyframes UpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes UpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes DownAnime {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@keyframes DownAnime {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
.emphasis {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(0, 0, 0, 0)), color-stop(70%, #ffbf1f));
  background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, #ffbf1f 70%);
}
@media only screen and (min-width: 576px) {
  /* s */
  .media__cont::after {
    height: 375px;
  }
}
@media only screen and (min-width: 768px) {
  /* m */
  .media__cont::after {
    height: 420px;
  }
  .media__ttl {
    font-size: 2.2rem;
  }
  .cmn-ttl {
    font-size: 3.4rem;
  }
  .lower-ttl {
    font-size: 3rem;
  }
  .footer__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__logo {
    margin: 0;
  }
  .footer__contact {
    margin-top: 0;
    margin-left: 30px;
  }
  .footer__nav {
    margin-top: 65px;
  }
  .footer__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__item {
    padding: 0;
    border-bottom: none;
  }
  .footer__item:first-child {
    border-top: none;
  }
  .footer__item:nth-child(n+2) {
    margin-left: 50px;
  }
  .totop {
    right: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  /* l */
  body.is-fixed {
    overflow: visible;
  }
  body {
    font-size: 1.6rem;
  }
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
  .inner {
    max-width: none;
    margin: 0;
  }
  .main {
    padding-bottom: 0;
  }
  .sec {
    margin-top: 0;
  }
  .top-sec {
    height: 100vh;
    max-height: 900px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    width: 135px;
  }
  .header__ham {
    display: none;
  }
  .header__nav {
    display: block;
  }
  .drawer {
    display: none;
  }
  .media.media--top {
    margin-top: 0;
  }
  .media.media--top .media__cont {
    height: calc(100vh - 124.38px);
    max-height: 775.62px;
  }
  .media__cont {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100vh;
    max-height: 900px;
  }
  .media__cont::after {
    width: 50%;
    height: 100%;
  }
  .media__body {
    padding: 30px;
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .media__inner {
    max-width: 550px;
    margin: 0 auto;
  }
  .media__ttl {
    margin-top: 35px;
    font-size: 2.4rem;
  }
  .media__link:hover {
    background-color: #fff;
    color: #339900;
  }
  .media__btn {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .media__btn:hover {
    opacity: 0.7;
  }
  .cmn-ttl {
    font-size: 3.6rem;
  }
  .lower-ttl {
    font-size: 3.4rem;
  }
  .footer__contact-link {
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
  }
  .footer__contact-link:hover {
    background-color: #ffbf1f;
    color: #fff;
  }
  .footer__item:nth-child(n+2) {
    margin-left: 75px;
  }
  .footer__subitem {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1280px) {
  /* xl */
  .cmn-ttl {
    font-size: 3.8rem;
  }
}
@media screen and (max-height: 630px) {
  .drawer {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 140px;
    padding-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */